@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'angelin';
    src: url('../fontes/Angelin_Heart.otf'); 
  }
  
  @font-face {
    font-family: 'harmony';
    src: url('../fontes/Harmony.ttf');
  }

  @font-face {
    font-family: 'chocolate';
    src: url('../fontes/Chocolate-otf.otf');
  }